<main>
  {% extends 'inicio.html' %} {% block principal %}
  <div class="text-center mt-5 pt-5">
    <section class="page-section about-heading">
      <div class="container">        
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Sobre a Autoelétrica Pacheco:</span>
                  <br />
                  <!-- <span class="section-heading-lower">Sobre a Nossa PetShop</span> -->
                </h2>
                <p>
                  Fundada em 2005, a Autoelétrica Pacheco é uma empresa familiar localizada em Chapecó-SC. 
                  Ao longo dos anos, nos tornamos uma referência em serviços automotivos elétricos na região. 
                  Somos apaixonados pelo que fazemos e buscamos constantemente oferecer soluções de alta qualidade para nossos clientes.
                </p>
                <p class="mb-0">
                  Valorizamos a vida e o meio ambiente, e por isso adotamos práticas sustentáveis em nosso trabalho.
                  Estamos comprometidos em reduzir nosso impacto ambiental, utilizando métodos e materiais ecologicamente responsáveis.
                </p>
                <p class="mb-0">
                  Ética e profissionalismo são princípios fundamentais para nós. 
                  Buscamos sempre agir com integridade em todas as nossas interações, tanto com nossos clientes como com nossos colaboradores. 
                  Acreditamos que a transparência e a honestidade são essenciais para estabelecer uma relação de confiança duradoura.
                </p>
                <p class="mb-0">
                  Nosso compromisso é com a satisfação do cliente. 
                  Valorizamos cada pessoa que confia em nossos serviços e nos esforçamos para superar suas expectativas. 
                  Estamos sempre empenhados em oferecer um atendimento personalizado e soluções eficientes para as necessidades específicas de cada cliente.
                </p>
                <p class="mb-0">
                  O respeito é um valor fundamental em nossa empresa. Respeitamos nossos clientes, colaboradores e parceiros de negócios. 
                  Estamos comprometidos em criar um ambiente de trabalho inclusivo e respeitoso, onde todos são valorizados e têm a oportunidade de crescer e contribuir.
                </p>

                <p class="mb-0">
                  Agradecemos por escolher a Autoelétrica Pacheco como sua Autoelétrica de confiança.                   
                  Seja bem-vindo à Autoelétrica Pacheco - onde qualidade, ética e compromisso se unem para atender às suas necessidades."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% endblock %}
</main>
