{% extends 'inicio.html' %} {% block principal %}
<div class="text-center mt-5 pt-5">
  <h1>Cadastro de Seção</h1>
  <!-- <p>Envie sua mensagem ou entre em contato com {{responsavel}} pelo telefone {{telefone}}</p> -->

  {%if sucesso %}
  <p class="alert alert-success">Seção salva com sucesso</p>
  {% else %}
  <form action="" method="POST">    
    {% csrf_token %} {% load bootstrap5 %} {% bootstrap_form formulario %}
    <hr />    
    <button typpe="submit" class="btn btn-primary">Salvar</button>
  </form>
  {% endif %}
</div>
{% endblock %}
